<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <contextName>springtest </contextName>
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>.%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %n</Pattern>
         </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
         <level>TRACE</level>
        </filter>
    </appender>
</configuration>